services:
  theprice:
    image: ${DOCKER_REGISTRY-}theprice
    container_name: theprice-container
    build:
      context: .
      dockerfile: ThePrice/Dockerfile
    ports:
        - "8080:8080"
    depends_on:
      - thepricedb
    environment:
      ConnectionString: "Server=thepricedb;Database=thepricedb;User=root;Port=3306"
    networks:
      - theprice-network

  thepricedb:
    image: mariadb:11.4.2
    container_name: thepricedb-container
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    ports:
      - "3306:3306"
    volumes:
      - thepricedb_data:/var/lib/mysql 
    networks:
      - theprice-network

volumes:
    thepricedb_data:
  
networks:
  theprice-network:
    driver: bridge